<div class="container my-5">
    <h2 class="text-dark mb-5"><%= current_user.name %>'s External Charges</h2>
    <% if !external.empty? %>
    <div class="d-flex justify-content-between">
        <h4 class="text-muted">Total Amount</h4>
        <p class="lead border-secondary border py-1 px-4"><%= total_ex %>$</p>
    </div>
    <hr>
    <% external.each do |ex| %>
        <div class="d-flex justify-content-between">
            <h4 class="text-muted"><%= link_to  ex.name, charge_path(ex), class: "text-info" %></h4>
            <div>
                <p class="lead"><%= ex.amount %>$</p>
                <small class="text-muted"><%= ex.created_at %></small>
            </div>
        </div>
        <hr>
    <% end%>
    <% else %>
        <p class="lead my-5 text-center">There is no extrnal charges yet</p>
    <% end %>
</div>