<div class="container my-5">
    <h2 class="text-dark mb-5"><%= current_user.name %>'s Charges</h2>
        <div class="d-flex justify-content-between">
            <h4 class="text-muted">Total Amount</h4>
            <p class="lead border-secondary border py-1 px-4"><%= total %>$</p>
        </div>
        <hr>
    <% @charges.each do |charge| %>
        <div class="d-flex justify-content-between">
            <h4><%= external_mark(charge) %></h4>
        <div>
            <p class="lead"><%= charge.amount %>$</p>
            <small class="text-muted"><%= charge.created_at %></small>
        </div>
        </div>
        <hr>
    <% end %>
    <%= link_to  "Add new charge", new_charge_path, class: "btn btn-success" %>
</div>