<div class="container my-5">
<h1>Author: <%= @charge.author.name %></h1>
<div class="d-flex justify-content-between my-4">
    <div class="d-flex justify-content-between">
        <%= first_assign(@groups_array, @charge) %>
    <div class="d-block">
        <h4 class=" ml-3"><%= @charge.name %><small class="ml-3 text-secondary">(<%= @charge.amount %>$)</small></h4>
        <% if @groups_array.empty? %>
            <small class="text-muted ml-3">no groups yet</small>
        <% else %>
        <small class="ml-3">Groups:</small>
        <ul class="list-unstyled ml-3">
        <% @groups_array.uniq.each do |g| %>
        <li>
        <%= link_to g.name, group_path(g) %>
        </li>
        <% end %>
        <% end %>
        </ul>
    </div>
    </div>
    <div class="d-block">
    <small class="text-muted">created at: <%= @charge.created_at %></small>
    <div class="my-3">
        <%= authorized_user(current_user, @charge) %>
    </div>
    </div>
</div>
</div>
